body {
  background:#ffffff;
  width:calc(100% - 40px);
  padding:20px;
}

section {
  width:80%;
  padding:18% 10%;
  color: #01A6F0;
}

h1 {
  font-size: 2em;
  text-align:center;
}

#logo {
  max-width:140px;
  padding-right:5%;
  vertical-align: middle;
}

#logo_text {
  vertical-align: middle;
}

.bg-blue {
  background:#01A6F0;
  color: #ffffff;
}

.bg-dark-blue {
  background:#02C6FF;
  color: #ffffff;
}

.bg-light-grey {
  background:#DDF3FF;
  color: #01A6F0;
}

.bg-grey {
  background:#486C7F;
  color: #01A6F0;
}

.bg-white {
  background:#fefefe;
}

nav {
  position:fixed;
  top:40px;
  left:40px;
  width:calc(100% - 80px);
}

nav a {
  color:#262626;
}
